name: Simple Docker Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Docker imagee
      run: |
        echo "Building Docker image..."
        docker build -t test-image .
